/*BODY*/
:root {
    --primary-color: #CC3333;
    --secondary-color: #2A435D;
    --third-color: #FFF8EE;
    --link-color: #4BFF3C;
    --pure-white: #FFFFFF;
}

/* body {
    margin: 0;
    padding: 0;
    background-color: var(--pure-white);
} */

.h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    color: var(--secondary-color);
}

.h3 {
    color: var(--primary-color);
    font-weight: bold;
} */

/*DIV1*/

/*NAVBAR*/

/**/

/*DIV2*/
.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--pure-white);
}

.content h2 {
    font-weight: bold;
    font-size: 24px;
}

.content p {
    font-size: 18px;
    margin-top: 20px;
}


/*DIV3*/
.container-s {
    margin-left: 25%;
}

.container-s .info i {
    color: var(--primary-color);
}

.fa-location-dot,
.fa-phone,
.fa-envelope,
.fa-clock {
    margin-right: 5px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons .icon {
    display: inline-block;
    margin-right: 10px;
}

.social-icons .icon i {
    font-size: 25px;
}

.image-right {
    width: 490px;
    height: auto;
    top: 362px;
    left: 647px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
    right: 0;
    bottom: calc(100% - 50px);
}


/*DIV3*/
.container2 {
    width: 100%;
    height: 198px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.info2 {
    width: calc(33.33% - 20px);
    text-align: center;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--pure-white);
}

.info2 p {
    font-weight: bolder;
}

.info2 a {
    color: var(--link-color);
}

/*FOOTER*/
footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--pure-white);
    background: var(--secondary-color);
}

footer p {
    font-size: 16px;
} 